.radar-container {
    background-color: #282d30;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recharts-polar-grid-polygon {
    stroke: rgba(255, 255, 255, 0.4);
}

.recharts-polar-angle-axis text {
    fill: #ffffff;
    font-size: 12px;
}

.recharts-radar {
    fill: #ff0101;
    fill-opacity: 0.7;
    stroke: #ff0101;
}

.recharts-polar-angle-axis-line,
.recharts-polar-radius-axis-line {
    display: none;
}